
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}

/* Скрываем слайды перед загрузкой ява-скрипта */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	width: 100%;
	min-width: 980px;
	height: 495px;
	background-size: cover;
	z-index: 1;
	position: relative;
	background-position: 100% 50%;
	padding-top: 120px;
}

.flexslider .slides img {
	width: 100%;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Чистим предидущее изображение для .slides */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }



/* Основной стиль слайдера */
.flexslider {
	position: relative;
	zoom: 1;
	background: #ffffff;
}

.flexslider .slides { zoom: 1; }

/* Кнопки прокрутки. Стили */
.flex-direction-nav a {
	display: none;
}


.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
	right: 0;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #31611e;
}

.flex-direction-nav .flex-prev:after {
	left: 0;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #31611e;
}

/* Кнопки прокрутки. Управление */
.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	margin: 0 0 0 -10px;
	display: none;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}



