/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{
	height: 497px;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: 980px;
	max-height: 497px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:20px;
	padding: 15px 0;
	padding-left: 3px;
	top:35px;
	color:#fff;
	width:345px;
	z-index:8;
	overflow: hidden;
	display: none;
	border-top: 4px solid #088cbd;
	border-bottom: 4px solid #ffffff;
	font-family: Arial,sans-serif;
	/*-moz-opacity: 0.8;
	filter:alpha(opacity=8);*/
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
	background: rgba(0,0,0,0.8);
    padding-left: 10px;
    padding-right: 10px;         
}
	.nivo-caption h2{
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 20px;
		line-height: 1.3;
	}
.nivo-caption p {
	margin:0;
	font-size: 18px;
	line-height: 1.3;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom: 20px;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:20px;
	display: block;
	width: 31px;
	height: 46px;
	/*background: url(../images/slide-left.png);*/
}
.nivo-nextNav {
	right:20px;
	display: block;
	width: 31px;
	height: 46px;
	/*background: url(../images/slide-right.png);*/
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position: relative;
  	top: -95px;
  	left: 17px;
  	z-index: 7;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-control img{
	width: 120px;
	height: 80px;
	border: 1px solid #fff;
}
.nivo-control{
	margin-right: 17px;
}	
	.nivo-control.active img{
		border: 1px solid #007fc3;
	}