body{
	font-family: 'Segoe UI',sans-serif;
}
.container{
	width: 980px;
	margin: auto;
}
.clearfix:after{
	height: 0;
	content: "";
	display: block;
	clear: both;
}
.top-panel{
	height: 49px;
	background-color: #40435b;
	width: 100%;
	min-width: 980px;
	border-bottom: 1px solid #171a2e;
	padding-top: 15px;
}
.menu{
	background-color: #2d304b;
	width: 100%;
	min-width: 980px;
	border-top: 1px solid #5f6276;
}
.left-menu{
	float: left;
}
.right-menu{
	float: right;
}
.menu ul li{
	float: left;
	padding: 9px 30px;
	background-image: url(../images/shape.png);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-bottom: 11px;
}
	.left-menu li:first-child{
		padding-left: 0;
	}
	.left-menu li:last-child,.right-menu li:last-child{
		background-image: none;
	}
	.right-menu li:last-child{
		padding-right: 0;
	}
.menu ul li a{
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: 0.15s color ease-in-out;
	-o-transition: 0.15s color ease-in-out;
	transition: 0.15s color ease-in-out;
}
	.menu ul li a:hover,.menu ul li a.active{
		color: #ff0000;
	}
.social-link{
	background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
}
	.social-link:hover{
		opacity: 0.9;
	}
.p-date{
	float: left;
	color: #b1b2b9;
	padding-top: 2px;
}
.social{
	float: right;
}
.facebook{
	background-position: -5px -5px;
}
.twitter{
	 background-position: -5px -36px;
}
.vk{
     background-position: -5px -67px;
}
.top-panel>.container{
	position: relative;
}
.logo{
	position: absolute;
	display: block;
	width: 203px;
	height: 129px;
	background: url(../images/logo.png);
	top: -25px;
	left: 40%;
}
.wrapper{
	width: 980px;
	margin: auto;
	min-height: 100%;
	padding-bottom: 100px;
}
.bid{
	background-color: #d1d2dd;
	margin-top: 50px;
	padding: 10px 3px;
}
.bottom-bid{
	margin-top: 25px;
}
.bid a,.red-link{
	display: block;
	width: 230px;
	height: 35px;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 18px;
	font-family: Calibri,sans-serif;
	text-align: center;
	background: #b60c11; /* Old browsers */
	background: -moz-linear-gradient(top,  #b60c11 0%, #ae0c11 35%, #a60b10 64%, #9f0b0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b60c11), color-stop(35%,#ae0c11), color-stop(64%,#a60b10), color-stop(100%,#9f0b0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b60c11', endColorstr='#9f0b0f',GradientType=0 ); /* IE6-9 */
	color: #fff;
	float: left;
	margin-right: 18px;
	padding-top: 8px;
}
	.bid .bottom-bid a:last-child{
		margin-right: 0;
	}
.leave-bid{
	float: right !important;
	margin-right: 0 !important;
}
.top-bid p{
	font-family: Calibri,sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #2d304b;
	position: relative;
	left: 122px;
	float: left;
}
.contacts{
	margin-top: 20px;
	font-family: Calibri,sans-serif;
}
	.contacts h3{
		text-transform: uppercase;
		font-size: 18px;
	}
.contacts-block{
	margin-top: 30px;
	line-height: 2;
}
.contacts-block p{
	font-size: 14px;
}
strong{
	font-weight: bold;
}
.adrress{
	float: left;
}
.adrress h3{
	color: #a60b10;
}
.maps{
	float: right;
}
footer{
	width: 100%;
	min-width: 980px;
	background-color: #2d304b;
}
	.footer-top a:last-child{
		margin-right: 0;
	}
.footer-top{
	padding: 20px 0;
	border-bottom: 1px solid #171a2e;
}
.footer-link{
	padding-top: 35px;
	padding-bottom: 15px;
	border-bottom: 1px solid #171a2e;
	border-top: 1px solid #5f6276;
}
	.footer-link .child-link{
		float: left;
		margin-right: 35px;
	}
		.footer-link .child-link ul h4{
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 30px;
			font-size: 14px;
		}
		.footer-link .child-link ul li{
			line-height: 1.4;
		}
			.footer-link .child-link ul li a{
				color: #fff;
				font-size: 14px;
			}
				.footer-link .child-link ul li a:hover{
					color: #b7b7b7;
					text-decoration: none;
				}
					.footer-link .child-link:last-child{
						margin-right: 0;
					}
		.footer-link .child-link.news-link{
				margin-right: 65px;
			}
			.footer-link .child-link.credit-link{
				margin-right: 55px;
			}
.copyright{
	padding: 20px 0;
	color: #e1e1e1;
	font-size: 14px;
	border-top: 1px solid #5f6276;
}
.call-me-block{
	float: left;
	position: relative;
}
.post{
	display: block;
	position: absolute;
	width: 38px;
	height: 29px;
	background: url(../images/call.png);
	right: 26px;
	top: 3px;
}
.call-me{
	padding-right: 25px;
}
.news{
	margin-top: 25px;
}
.news h3{
	text-transform: uppercase;
	font-size: 18px;
	color: #2d304b;
	font-family: Calibri,sans-serif;
}
.news-img{
	float: left;
	width: 263px;
	height: 161px;
}
.news-block{
	padding-bottom: 20px;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 15px;
}
.news-desc{
	float: left;
	margin-left: 20px;
	width: 690px;
	font-family: Calibri,sans-serif;
	position: relative;
	height: 161px;
}
.date{
	font-size: 14px;
	color: #898989;
}
.news-desc h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #2d304b;
	padding: 12px 0;
}
.news-desc p{
	font-size: 14px;
	color: #000;
	line-height: 1.3;
}
.more{
	display: inline-block;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	padding-right: 10px;
	background: url(../images/more.png)no-repeat 100%;
	position: absolute;
	left: 0;
	bottom: 0;

}
	.more span{
		text-decoration: underline;
	}
		.more:hover>span{
			text-decoration: none;
		}

.pagination{
	margin-top: 15px;
	  position: relative;
	  float: right;
	  right: 50%;
}
.pagination ul{
	position: relative;
	 float: left;
	 left: 50%;
}

.pagination ul li{
	float: left;
	margin-right: 15px;
}
	.pagination ul li a{
		text-decoration: none;
		text-align: center;
		display: block;
		width: 34px;
		height: 34px;
		border:1px solid #d7d7d7;
		font-size: 14px;
		color: #2d304b;
		font-family: Calibri,sans-serif;
		padding-top: 9px;
		background-color: transparent;
		-webkit-transition: 0.15s all ease-in-out;
		-o-transition: 0.15s all ease-in-out;
		transition: 0.15s all ease-in-out;
	}
		.pagination ul li a:hover,.pagination ul li a.active{
			background-color: #ae0b10;
			color: #fff;
		}
	