@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot') format('embedded-opentype'),
         url('../fonts/Calibri.woff2') format('woff2'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg#Calibri') format('svg');
}
@font-face {
    font-family: 'Century Gotic';
    src: url('../fonts/Century.eot');
    src: url('../fonts/Century.eot') format('embedded-opentype'),
         url('../fonts/Century.woff2') format('woff2'),
         url('../fonts/Century.woff') format('woff'),
         url('../fonts/Century.ttf') format('truetype'),
         url('../fonts/Century.svg#Century') format('svg');
}

body{
	font-family: 'Segoe UI',sans-serif;
}
.container{
	width: 980px;
	margin: auto;
}
.clearfix:after{
	height: 0;
	content: "";
	display: block;
	clear: both;
}
.top-panel{
	height: 49px;
	background-color: rgba(45,48,77, 0.9);
	width: 100%;
	min-width: 980px;
	border-bottom: 1px solid #171a2e;
	padding-top: 15px;
}
.menu{
	background-color: #2d304b;
	width: 100%;
	min-width: 980px;
	border-top: 1px solid #5f6276;
}
.left-menu{
	float: left;
}
.right-menu{
	float: right;
}
.menu ul li{
	float: left;
	padding: 9px 30px;
	background-image: url(../images/shape.png);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-bottom: 11px;
}
	.left-menu li:first-child{
		padding-left: 0;
	}
	.left-menu li:last-child,.right-menu li:last-child{
		background-image: none;
	}
	.right-menu li:last-child{
		padding-right: 0;
	}
.menu ul li a{
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: 0.15s color ease-in-out;
	-o-transition: 0.15s color ease-in-out;
	transition: 0.15s color ease-in-out;
}
	.menu ul li a:hover,.menu ul li a.active{
		color: #ff0000;
	}
.social-link{
	background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
}
	.social-link:hover{
		opacity: 0.9;
	}
.p-date{
	float: left;
	color: #b1b2b9;
	padding-top: 2px;
}
.social{
	float: right;
}
.facebook{
	background-position: -5px -5px;
}
.twitter{
	 background-position: -5px -36px;
}
.vk{
     background-position: -5px -67px;
}
.top-panel>.container{
	position: relative;
}
.logo{
	position: absolute;
	display: block;
	width: 221px;
	height: 129px;
	background: url(../images/logo.png)no-repeat;
	top: -14px;
	left: 39%;
}
	.main-logo{
		background: url(../images/main-logo.png);
		width: 221px;
		height: 80px;
		top: 14px;
  		left: 39%;
	}
.wrapper{
	width: 980px;
	margin: auto;
	min-height: 100%;
	padding-bottom: 100px;
}
.bid{
	background-color: #d1d2dd;
	margin-top: 50px;
	padding: 10px 3px;
}
.bottom-bid{
	margin-top: 25px;
}
.bid .call-me,.red-link,.bid .leave-bid{
	display: block;
	width: 230px;
	height: 35px;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 18px;
	font-family: 'Calibri';
	text-align: center;
	background: #b60c11; /* Old browsers */
	background: -moz-linear-gradient(top,  #b60c11 0%, #ae0c11 35%, #a60b10 64%, #9f0b0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b60c11), color-stop(35%,#ae0c11), color-stop(64%,#a60b10), color-stop(100%,#9f0b0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b60c11', endColorstr='#9f0b0f',GradientType=0 ); /* IE6-9 */
	color: #fff;
	float: left;
	margin-right: 18px;
	padding-top: 8px;
}
	.bid .bottom-bid a:last-child{
		margin-right: 0;
	}
	.red-link:hover, .leave-bid:hover,.call-me:hover,.post:hover{
		background: #3f425a; /* Old browsers */
		background: -moz-linear-gradient(top,  #3f425a 0%, #393c55 30%, #32354f 63%, #2f324c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f425a), color-stop(30%,#393c55), color-stop(63%,#32354f), color-stop(100%,#2f324c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #3f425a 0%,#393c55 30%,#32354f 63%,#2f324c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #3f425a 0%,#393c55 30%,#32354f 63%,#2f324c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #3f425a 0%,#393c55 30%,#32354f 63%,#2f324c 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #3f425a 0%,#393c55 30%,#32354f 63%,#2f324c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f425a', endColorstr='#2f324c',GradientType=0 ); /* IE6-9 */
	}
.leave-bid{
	float: right !important;
	margin-right: 0 !important;
	cursor: pointer;
}

.leave-bid-main{
	margin-right: 3px !important;
}
.top-bid p{
	font-family: 'Calibri';
	font-weight: bold;
	font-size: 30px;
	color: #2d304b;
	position: relative;
	left: 145px;
	float: left;
}
.contacts{
	margin-top: 20px;
	font-family: 'Calibri';
}
	.contacts h3{
		text-transform: uppercase;
		font-size: 18px;
	}
.contacts-block{
	margin-top: 30px;
	line-height: 2;
}
.contacts-block p{
	font-size: 14px;
}
strong{
	font-weight: bold;
}
.adrress{
	float: left;
}
.adrress h3{
	color: #a60b10;
}
.maps{
	float: right;
}
footer{
	width: 100%;
	min-width: 980px;
	background-color: #2d304b;
}
	.footer-top a:last-child{
		margin-right: 0;
	}
.footer-top{
	padding: 20px 0;
	border-bottom: 1px solid #171a2e;
}
.footer-link{
	padding-top: 35px;
	padding-bottom: 15px;
	border-bottom: 1px solid #171a2e;
	border-top: 1px solid #5f6276;
}
	.footer-link .child-link{
		float: left;
		margin-right: 35px;
	}
		.footer-link .child-link ul h4{
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 30px;
			font-size: 14px;
		}
		.footer-link .child-link ul li{
			line-height: 1.4;
		}
			.footer-link .child-link ul li a{
				color: #fff;
				font-size: 14px;
			}
				.footer-link .child-link ul li a:hover{
					color: #b7b7b7;
					text-decoration: none;
				}
					.footer-link .child-link:last-child{
						margin-right: 0;
					}
		.footer-link .child-link.news-link{
				margin-right: 65px;
			}
			.footer-link .child-link.credit-link{
				margin-right: 55px;
			}
.copyright{
	padding: 20px 0;
	color: #e1e1e1;
	font-size: 14px;
	border-top: 1px solid #5f6276;
}
.call-me-block{
	float: left;
	position: relative;
	width: 230px;
}
.post{
	display: block;
	position: absolute;
	width: 46px;
	height: 35px;
	background: #b60c11; /* Old browsers */
	background: -moz-linear-gradient(top,  #b60c11 0%, #ae0c11 35%, #a60b10 64%, #9f0b0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b60c11), color-stop(35%,#ae0c11), color-stop(64%,#a60b10), color-stop(100%,#9f0b0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b60c11 0%,#ae0c11 35%,#a60b10 64%,#9f0b0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b60c11', endColorstr='#9f0b0f',GradientType=0 ); /* IE6-9 */
	right: 0px;
}
	.post>span{
		display: block;
		width: 45px;
		height: 35px;
		background: url(../images/call.png)no-repeat;
		background-position: 0 3px;
	}
.call-me{
	width: 185px !important;
	padding-right: 0;
	margin-right: 0 !important;
}
.news{
	margin-top: 25px;
}
.news h3{
	text-transform: uppercase;
	font-size: 18px;
	color: #2d304b;
	font-family: 'Calibri';
}
.news-img{
	float: left;
	width: 263px;
	height: 161px;
}
.news-block{
	padding-bottom: 20px;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 15px;
}
.news-desc{
	float: left;
	margin-left: 20px;
	width: 690px;
	font-family: 'Calibri';
	position: relative;
	height: 161px;
}
.date{
	font-size: 14px;
	color: #898989;
}
.news-desc h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #2d304b;
	padding: 12px 0;
}
.news-desc p{
	font-size: 14px;
	color: #000;
	line-height: 1.3;
}
.more{
	display: inline-block;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	padding-right: 12px;
	background: url(../images/more.png)no-repeat 100%;
	position: absolute;
	left: 0;
	bottom: 0;

}
	.more span{
		text-decoration: underline;
	}
		.more:hover>span{
			text-decoration: none;
		}

.pagination{
	margin-top: 15px;
	  position: relative;
	  float: right;
	  right: 50%;
}
.pagination ul{
	position: relative;
	 float: left;
	 left: 50%;
}

.pagination ul li{
	float: left;
	margin-right: 15px;
}
	.pagination ul li a{
		text-decoration: none;
		text-align: center;
		display: block;
		width: 34px;
		height: 34px;
		border:1px solid #d7d7d7;
		font-size: 14px;
		color: #2d304b;
		font-family: 'Calibri';
		padding-top: 9px;
		background-color: transparent;
		-webkit-transition: 0.15s all ease-in-out;
		-o-transition: 0.15s all ease-in-out;
		transition: 0.15s all ease-in-out;
	}
		.pagination ul li a:hover,.pagination ul li a.active{
			background-color: #ae0b10;
			color: #fff;
		}
.company{
	margin-top: 15px;
}
.sidebar{
	width: 230px;
	background-color: #d1d2dd;
	padding: 20px 0;
	float: left;
}
.sidebar ul{
	font-family: 'Calibri';
	padding-left: 21px;
}
	.sidebar ul li{
		color: #a20b0f;
		line-height: 2;
	}
		.sidebar ul li:before{
			content: "";
			background: url(../images/mark.png);
			width: 6px;
			height: 6px;
			display: inline-block;
			position: relative;
			left: -15px;
			top: -3px
		}
		.sidebar ul li a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 18px;
			color: #000;
			-webkit-transition: 0.15s color;
			-o-transition: 0.15s color;
			transition: 0.15s color;
		}
			.sidebar ul li a:hover, .sidebar ul li a.active{
				color: #a60c0f;
			}
.company-text{
	width: 725px;
	float: right;
	font-family: 'Calibri';
	font-size: 14px;
}
	.company-text h3{
		font-size: 18px;
		text-transform: uppercase;
		color: #2d304b;
	}
.p-text{
	margin-top: 22px;
	line-height: 1.3;
}
	.p-text a{
		color: #000;
	}
		.p-text a:hover{
			text-decoration: none;
		}
.p-text img{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.advantages{
	margin-top: 37px;
	line-height: 1.3;
}
.adv-list{
	padding-top: 18px;
}
.adv-list li{
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
	line-height: 1.3;
}
.adv-list li:before{
	content: "";
	position: absolute;
	display: block;
	width: 9px;
	height: 9px;
	background: url(../images/adv-mark.png);
	left: 0;
	top: 30%;
}
.main-block{
	width: 100%;
	min-width: 980px;
	height: 495px;
	background: url(../images/main.jpg)no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;
	background-position: 100% 50%;
	padding-top: 120px;
}
	.area-block{
		position: relative;
		width: 980px;
		height: 495px;
		margin: auto;
		z-index: 1;

	}
		.area-img{
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 980px;
	z-index: 2;
}
.mini-area{
	float: left;
	widows: 120px;
	height: 79px;
	background-color: #fff;
	margin-right: 18.5px;
}
	.area-img .mini-area:last-child{
		margin-right: 0;
	}
.margin-0{
	margin: 0;
	padding: 3px;
}
.description{
	margin-top: 25px;
}
.area-table{
	width: 530px;
	font-size: 14px;
	float: left;
}
	.area-table ul li{
		border-bottom: 1px dotted #a1a1a1;
		position: relative;
		margin-top: 10px;
	}
		.area-table ul li:first-child{
			margin-top: 0;
		}
	.area-table ul li strong {
	  background: #fff;
	  position: relative;
	  padding-right: 2px;
	  color: #2d304b;
}
.area-table ul li span {
  padding: 1px 5px;
  float: right;
  background: #fff;
  padding-left: 3px;
  display: block;
  width: 280px;
}
	.area-maps{
		float: right;
		width: 404px;
	}
.description h3{
	text-transform: uppercase;
	font-size: 18px;
	color: #2d304b;
	margin-bottom: 25px;
	margin-top: 20px;
}
.id{
	font-size: 14px;
	text-transform: uppercase;
}
.request{
	display: block;
	width: 180px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #2d304b;
	color: #fff;
	font-size: 14px;
	font-family: 'Calibri';
	text-transform: uppercase;
	padding-top: 8px;
	margin-top: 25px;
	-webkit-transition: 0.15s all ease-in-out;
	-o-transition: 0.15s all ease-in-out;
	transition: 0.15s all ease-in-out;
}
.complex{
	margin-top: 40px;
}
.complex p{
	font-size: 14px;
	line-height: 1.3;
}
.filter{
	float: left;
	width: 230px;
	background-color: #d1d2dd;
	padding: 6px 10px;
	padding-bottom: 20px;
	font-size: 14px;
	font-family: 'Calibri';
}
.select{
	font-family: 'Calibri';
}
/*	=	Select */
.slct {
	display: block;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	width: 210px;
	color: #444;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-decoration: none;
	background-image: url(../images/drop.png);
	background-repeat: no-repeat;
	background-position: 97%;
	height: 22px;
	font-size: 14px;
	color: #acacac;
	padding-left: 7px;
	padding-top: 3px;	
}

.drop {
	margin: 0;
	padding: 0;
	width: 210px;
	border: 1px solid #d7d7d7;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
	font-size: 14px;
}
.drop li {
	list-style: none;
	border-top: 1px dotted #e8e8e8;
	cursor: pointer;
	display: block;
	color: #444;
	padding: 4px 15px 4px 7px;
}
.drop li:hover {
	background-color: #e8e8e8;
	color: #222;
}
.input-block{
	margin-bottom: 10px;
}

	.input-block p{
		color: #2d2e4c;
		margin-bottom: 5px;
	}
	.input-block input[type="text"]{
		width: 100%;
		height: 22px;
		border: 1px solid #d7d7d7;
		background-color: #fff;
		padding-left: 7px;
	}
.select-square .slct,.select-square .drop{
	width: 102px;
	background-position: 95%;
}
.select-square{
	float: left;
}
.right-block{
	float: right;
}
.object{
	margin-top: 18px;
}
.choice-metro{
	display: block;
	width: 95px;
	height: 22px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background-color: #2d2d4b;
	border: 0;
	cursor: pointer;
	outline: 0;
}
.check-block{
	margin-top: 12px;
}

	.check-block ul li{
		float: left;
		width: 50%;
		line-height: 2;
	}
		.check-block ul li label{
			color: #2d304b;
			cursor: pointer;
		}
		.check-block ul li input{
			position: relative;
			top: 2px;
			margin-right: 2px;
		}
.clear-fil{
	text-decoration: underline;
	cursor: pointer;
	margin-top: 12px;
	display: inline-block;
}
	.clear-fil:hover{
		text-decoration: none;
	}
.object-content{
	width: 730px;
	float: right;
}
	.object-content header{
		height: 35px;
		background-color: #2d304b;
		font-family: 'Calibri';
		font-size: 14px;
		position: relative;
	}
		.object-content header span{
			color: #fff;
			padding-left: 15px;
			padding-top: 12px;
			display: inline-block;
		}
.object-link a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin-right: 5px;
	height: 28px;
	padding:0 30px;
	padding-top: 7px;
	text-align: center;
	background-color: #40435b;
	-webkit-transition: 0.15s all ease-in-out;
	 -o-transition: 0.15s all ease-in-out;
	 transition: 0.15s all ease-in-out; 
}
	.object-link{
		position: absolute;
		bottom: 0;
		right: 70px;
	}
		.object-link a:hover, .object-link a.active{
			background-color: #d1d2dd;
			color: #2d304b;
		}
.catalog{
	font-family: 'Calibri';
}
.catalog-img{
	width: 256px;
	height: 199px;
	float: left;
}
.catalog-desc{
	float: right;
	width: 460px;
	height: 199px;
	position: relative;
}
.cat-left{
	width: 230px;
	float: left;
	margin-top: 10px;
}
.cat-right{
	float: right;
	width: 180px;
	font-size: 14px;
	margin-top: 70px;
}
	.cat-right .choice{
		display: block;
		width: 180px;
		height: 30px;
		text-align: center;
		text-decoration: none;
		background-color: #2d304b;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		padding-top: 8px;
		-webkit-transition: 0.15s all ease-in-out;
		-o-transition: 0.15s all ease-in-out;
		transition: 0.15s all ease-in-out;
		cursor: pointer;
	}
		.cat-right .choice:hover,.request:hover{
			background-color: #d1d2dd;
			color: #2d304b;
		}
	.cat-left h3{
		text-transform: uppercase;
		color: #2d304b;
		font-size: 18px;
		line-height: 1.4;
	}
	.cat-left p{
		font-size: 14px;
		margin-top: 10px;
		line-height: 1.3;
	}
.catalog-block{
	padding-bottom: 18px;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 15px;
}
	.cat-right p span{
		color: #2d304b;
	}
	.cat-right p{
		margin-bottom: 15px;
	}
	.catalog-desc .id{
		font-size: 12px;
	}
.main-text{
	font-family: 'Century Gotic';
	font-size: 30px;
	color: #fff;
	display: inline-block;
	position: absolute;
	left: 25%;
	top: -7px;
}
	.main-block h1, .slides li h1{
		font-size: 46px;
		color: #fff;
		text-transform: uppercase;
	}
	.main-block h2, .slides li h2{
		font-size: 30px;
		color: #fff;
		text-transform: uppercase;
		margin-top: 15px;
	}
.main-bid{
	width: 100%;
	min-width: 980px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(45,48,75,0.5);
	z-index: 10;
}
	.main-bid .top-bid p{
		color: #fff;
	}
.variant-block{
	float: left;
	width: 230px;
	height: 160px;
	margin-right: 20px;
	text-align: center;
	padding-top: 20px;
	background: url(../images/red-bg.jpg)no-repeat;
}
	.variant-block:hover{
		background: url(../images/red-bg-h.jpg)no-repeat;
	}
	.variant .variant-block:last-child{
		margin-right: 0;
	}
.variant{
	margin-top: 15px;
}
	.variant-block h3{
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		font-family: 'Calibri';
	}
.buy-icon, .sale-icon,.pass-icon,.take-icon{
	margin-top: 20px;
}
	.variant-block a{
		text-decoration: none;
		display: block;
	}
.main-sidebar{
	float:left;
	width: 230px;
}
.main-content{
	font-family: 'Calibri';
	margin-top: 35px;
}
.main-content h4{
	font-size: 20px;
	font-family: 'Calibri';
	text-transform: uppercase;
	color: #2d304b;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #d7d7d7;
}
.n-date{
	font-size: 14px;
	color: #9e0b0f;
	margin-bottom: 8px;
}
.main-news ul,.study ul{
	margin-top: 27px;
}
	.main-news ul a,.study ul a{
		color: #000;
		font-size: 14px;
	}
		.main-news ul a:hover,.study ul a:hover{
			text-decoration: none;
		}
	.main-news ul li{
		margin-bottom: 15px;
	}
	.study ul li{
		margin-bottom: 20px;
	}
.study{
	margin-top: 30px;
}
.banner{
	width: 230px;
	height: 300px;
}
.center-content{
	float: right;
	width: 730px;
}

.deals-block{
	background-color: #e8e8ee;
	padding: 8px;
	width: 230px;
	margin-top: 18px;
	font-size: 14px;
	height: 235px;
	float: left;
	margin-top: 15px;
	margin-right: 20px;
}
.deals-img{
	position: relative;
	width: 213px;
	height: 99px;
}
	.deals-img span{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		height: 18px;
		background-color: #3a3a56;
		color: #fff;
		font-size: 14px;
		text-align: center;
		padding-top: 2px;
	}
	.deals-block h5{
		text-transform: uppercase;
		color: #2d304b;
		margin: 15px 0;
	}
	.deals-desc{
		margin-top: 5px;
		line-height: 1.3;
	}
	.price{
		color: #790000;
		font-weight: bold;
	}
.deals .deals-block:nth-child(3),.deals .deals-block:nth-child(6){
	margin-right: 0;
}
.company-desc{
	margin-top: 35px;
}
.company-desc-p{
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.3;
}
.form-mask{
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  background: rgba(0,0,0,0.67);
	  top: 0;
	  left: 0;
	  bottom: 0;
	  z-index: 9999;
}
.modal {
	  position: fixed;
	  background-color: #fff;
	  padding: 10px;
	  z-index: 10000;
	  left: 20%;
	  top: 20%;
	  width: 335px;
	  font-family: 'Calibri';
	  font-size: 14px;
	  display: none;
}
.modal-block{
	width: 285px;
	margin: auto;
	position: relative;
}
	.modal-block h5{
		text-transform: uppercase;
		line-height: 1.2;
	}
	.modal-block input{
		margin-top: 15px;
		width: 100%;
		height: 30px;
		border: 1px solid #d7d7d7;
		padding-left: 4px;
	}
	.modal-block textarea{
		resize:none;
		margin-top: 15px;
		font-family: 'Calibri';
		font-size: 14px;
		width: 100%;
		border: 1px solid #d7d7d7;
		height: 110px;
		padding-top: 6px;
		padding-left: 4px;
	}
.aim{
	margin-top: 15px;
}
	.aim .slct{
		height: 30px;
		width: 100%;
		padding-top: 7px;
	}
	.aim .drop{
		width: 285px;
	}
.code-block{
	margin-top: 10px;
}
.code-block input{
	margin-top: 5px !important;
}
.submit{
	width: 180px !important;
	height: 30px !important;
	color: #fff;
	font-size: 14px;
	font-family: 'Calibri';
	text-transform: uppercase;
	background-color: #2d304b;
	cursor: pointer;
	float: right;
	-webkit-transition: 0.15s all ease-in-out;
	-o-transition: 0.15s all ease-in-out;
	transition: 0.15s all ease-in-out;
}
	.submit:hover{
		background-color: #d1d2dd;
		color: #2d304b;
	}
.closed{
	display: inline-block;
	width: 11px;
	height: 10px;
	background: url(../images/close.png)no-repeat;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
.form-mask{
	display: none;
}
#application{
	padding-top: 35px;
	display: none;
}
#call-me{
	display: none;
}
	#application .closed{
		top: -25px;
		right: -5px;
	}
.call-me-block{
	cursor: pointer;
}
.slct-time{
	width: 65px;
	float: left;
}
	.slct-time .slct,.slct-time .drop{
		width: 65px;
	}
	.slct-time .slct{
		background-position: 90%
	}
.time span{
	float: left;
	position: relative;
	top: 21px;
	margin-right: 11px;
}
.time{
	position: relative;
	height: 45px;
}
	.right-pos{
		position: absolute;
		right: 0;
	}
.add-file{
	width: 110px;
	margin-bottom: 8px;
}
.input-block textarea{
	resize:none;
	width: 100%;
    height: 95px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	padding-left: 7px;
	padding-top: 5px;
	font-family: 'Calibri';
}